@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --button-hover: rgba(61, 37, 20, .12);
  --border: 214.3 31.8% 91.4%;

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
.ProseMirror {
  @apply px-4 py-2;
}

.ProseMirror .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror ul,
.ProseMirror ol {
  @apply pl-6;
}

.ProseMirror ul {
  @apply list-disc;
}

.ProseMirror ol {
  @apply list-decimal;
}

.ProseMirror li {
  @apply my-1;
}
/* .ProseMirror button{
  @apply bg-initial;
} */

.ProseMirror-focused{
  border: none;
  outline: transparent;
}